@charset "utf-8";

// setting ----------------------------------------------------------------
// テキストカラー
// リンクカラー標準
// 背景色
$html5 : true;// HTML5の場合は「true」

// テキストカラー --------------------------------------------------------------
$textColor_a : #333;// 標準
$textColor_b : #999;// グレー
$textColor_c : #FFF;// 白
$textColor_d : #d80100;// 赤
$textColor_e : #d96d00;// オレンジ
$textColor_f : #9b8200;// 黄土色
$textColor_g : #468847;// グリーン

// ボーダーカラー標準 -------------------------------------------------------------
$borderColor_a : #ccc;// 薄グレー

// リンクカラー標準 -------------------------------------------------------------
$linkColor_a : #339900;// 緑
$linkColor_b : #006600; //濃い緑

// 背景色 ------------------------------------------------------------------
$bgColor_a : #aa9d73;// 濃茶色
$bgColor_b : #f3f0e9;// 薄茶色
$bgColor_c : #ffebd6;// 薄黄色
$bgColor_d : #fcd3d1;// 薄赤色
$bgColor_e : #eeeeee;// 薄グレー
$bgColor_f : #fff59a;// 黄色
$bgColor_g : #E9F3CC;// 緑色
